.backlog-overlay {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backlog-container {
    width: -webkit-fill-available;
    display: flex;
    height: 100%;
    gap: 1rem;
    flex-direction: row;
}

.backlog-container .backlog-board {
    display: flex;
    background-color: var(--white-color);
    width: 100%;
    box-shadow: 0.5rem 0.5rem 2rem var(--shadow);
    flex-direction: column;
    border-radius: 0.5rem;
    padding: 1rem;
}

.backlog-container .backlog-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.backlog-container .backlog-actions.single {
    justify-content: end;
}

.backlog-container .create-section {
    display: flex;
    gap: 0.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.3rem;
}

.backlog-container .create-section:hover {
    cursor: pointer;
    background-color: var(--light-gray-color);
    transition: background-color 0.3s ease;
}

.backlog-container .task-drop-containers {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.backlog-container .task-drop-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 20rem;
}

.backlog-container .container-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: flex-start;
}

.backlog-container .task-container {
    height: 2.5rem !important;
}
