{
  "tabWidth": 4,
  "useTabs": false,
  "overrides": [
    {
      "files": ["*.js", "*.jsx", "*.ts", "*.tsx"],
      "options": {
        "tabWidth": 4,
        "singleQuote": true
      }
    }
  ]
}
